Clarify how IDNs are supported in API

### Expected Behavior

The announcement [Non-Latin/UTF8 International Domains (IDNs) Now Fully Supported](https://blog.cloudflare.com/non-latinutf8-domains-now-fully-supported/) gave me the impression that I can use ASCII and Unicode forms of IDNs interchangeably when accessing the API. This does not seem to be the case. Also, even if both forms can be used interchangeably, the documentation should clarify the format used in the API response. Currently, not only the API is not accepting both forms at all points, but the output from the server is inconsistent and the documentation is lacking.

Here are some observations which imply IDNs are _not_ fully supported:

1. Via the API [List DNS Records](https://api.cloudflare.com/#dns-records-for-a-zone-list-dns-records), I expect that I can find a DNS record using the Unicode form of its name (for example `😺.meow.org`) as the `name` parameter. However, I need to use the ASCII form (for example `xn--138h.meow.org`) to make it work.

2. Via the API [Create DNS Record](https://api.cloudflare.com/#dns-records-for-a-zone-create-dns-record), I expect that the server can take Unicode forms and will perform the _non-transitional processing_ ([Conformance Clause C2 specified by UTS 46](https://unicode.org/reports/tr46/#C2)). The server does accept Unicode forms but does not follow the standard preprocessing specified by UTS 46. This means `😺.meow.org` will work but `ÖBB.meow.org` will not. It is not that the server does not do any mapping, either; for example, `MEOW.org` would be mapped to `meow.org`. This is very unusual because all major browsers and network libraries will do either transitional or non-transitional preprocessing no matter how they choose to implement IDNA-related standards.

   Perhaps Cloudflare is using some variant of the [Registration Protocol, Section 4 of RFC 5891](https://www.rfc-editor.org/rfc/rfc5891.html#section-4) which is different from the lookup protocols mentioned above, which is fine, but I would like to see that in the documentation so that I know how to correctly use the API.

3. Via the API [Create Zones](https://api.cloudflare.com/#zone-create-zone), I expect that I can create zones using Unicode forms, but the `pattern` on the side rules out such possibilities. Currently it says `pattern: ^([a-zA-Z0-9][\-a-zA-Z0-9]*\.)+[\-a-zA-Z0-9]{2,20}$`.

Here are a few more issues regarding the server response in the API:

4. Currently, the server sometimes returns domain-like data in their Unicode forms, and sometimes in ASCII forms. The behaviors are inconsistent and confusing. For example, zone names are returned in their Unicode forms, but DNS records are returned in their ASCII forms. I expect that all domain-related data will be in the same format.

5. Domain names not only appear in API points directly related to zones and DNS records, but also email addresses, name servers, etc. The impact is far-reaching. In each case the documentation has to specify whether the output is in Unicode or ASCII forms.

### Actual Behavior

1. A newly created DNS record named `😺.meow.org` could not be found with `😺.meow.org`, but its ASCII form `xn--138h.meow.org`.

2. One cannot directly create a record named `ÖBB.meow.org`. Instead, the client has to preprocess it to `öbb.meow.org` [as specified in UTS 46](https://unicode.org/reports/tr46/#Mapping) before using the API. In my opinion, the server should follow the standard preprocessing, or at very least the documentation should say the server is not doing the expected preprocessing.

3. I personally could not test Unicode zone names, but in either case, the documentation should explicitly state whether Unicode forms are okay or not.

4. Zone names are returned in Unicode forms but DNS record names are returned in ASCII forms. I do not know how other data are shown in the API response, but the discrepancies between zone names and DNS record names are already alarming.

5. I was not able to test how other data are shown in the API response, but the documentation says nothing.

### Section that requires update
The _entire_ API documentation needs to be updated with the information about (1) which API is accepting what forms (ASCII/Unicode/both) of IDNs, and what processing and validation steps the server would perform (e.g., [C1 or C2 of UTS 46](https://unicode.org/reports/tr46/#Conformance) with what parameters, or which section of [RFC 5891](https://www.rfc-editor.org/rfc/rfc5891.html) with what steps being skipped or changed), and (2) how data (zone names, DNS record names, name servers, emails, and maybe others) are shown in the API response.

### Additional information

- [Unicode Technical Standard #46](https://unicode.org/reports/tr46/)
- Related issue in the Go library: cloudflare/cloudflare-go#688

We only take care of developers.cloudflare.com documentation requests in this repo, so I will share your post with the team responsible for this content. That project is not in Github, so I will close this issue out since an open source contributor can't work on this.